<template>

  <div class="booking_search">
    <div class="container_Booking_search">
      <h1>Buscar Reserva</h1>

      <form v-on:submit.prevent="processBookingSearch">
        <input type="text" v-model="reserva.idreserva" placeholder="ID Reserva">
        <input type="text" v-model="reserva.apellido" placeholder="Apellido">
        <button type="submit"> Buscar </button>
      </form>

    </div>
      <div v-if="resultado.searched" class="container_Information_flight">
        <h5>ID Reserva: <span>{{vuelo.IdReserva}}</span></h5>
        <h5>Origen: <span>{{vuelo.origen}}</span></h5>
        <h5>Destino: <span>{{vuelo.destino}}</span></h5>
        <h5>Fecha: <span>{{vuelo.fecha}}</span></h5>
        <h5>Hora: <span>{{vuelo.hora}}</span></h5>
        <h5>Duración: <span>{{vuelo.duracion}}</span></h5>
      </div>

    <h2 v-if="resultado.searched">Pasajeros</h2>
    <div class="contenedorResultados">
      <div v-for="item in resultados" :key="item.id_reserva">
      <div class="container_Information_booking">
        <h5>Nombre: <span>{{item.nombrePasajero}}</span></h5>
        <h5>Apellido: <span>{{item.apellidoPasajero}}</span></h5>
        <h5>Tipo de Documento: <span>{{item.tipoDocumento}}</span></h5>
        <h5>Documento: <span>{{item.documento}}</span></h5>
        <h5>Asiento: <span>{{item.asiento}}</span></h5>
      </div>
    </div>
    </div>    
  </div>

</template>


<script scoped>

import axios from "axios";

export default {
  name: "Book",

  data: function(){
    return {
      reserva : {
        idreserva:"",
        apellido:"",
      },

      vuelo:{
        IdReserva:"",
        origen:"",
        destino:"",
        fecha:"",
        hora:"",
        duracion:""
      },

      resultados:[
      ],

      resultado: {
        nombrePasajero:"",
        apellidoPasajero:"",
        tipoDocumento:"",
        documento:"",
        asiento:"",

        searched: false
      },
    }
  },

  methods: {
    processBookingSearch: async function(){
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
            return;
        }

        await this.verifyToken();
        
        let token = localStorage.getItem("token_access");

      let api_url = "https://mintic-c3p37g1-bank-be.herokuapp.com/detallesreserva/?";
      if (this.reserva.idreserva!==""){
        api_url = api_url + "idreserva=" + this.reserva.idreserva + "&";
      };
      if (this.reserva.apellido!==""){
        api_url = api_url + "apellido=" + this.reserva.apellido + "&";
      };
      if (this.reserva.idreserva==""&&this.reserva.apellido==""){
        api_url = "https://mintic-c3p37g1-bank-be.herokuapp.com/detallesreserva/?idreserva=NOEXISTE"
        alert("Campos vacios");
      };

      if (this.reserva.idreserva==""&&this.reserva.apellido!==""){
        api_url = "https://mintic-c3p37g1-bank-be.herokuapp.com/detallesreserva/?idreserva=NOEXISTE"
        alert("Debe ingresar un ID de reserva");
      };
      
      this.resultados = [];
      this.searched = false;

      axios.get(api_url,{headers: {'Authorization': `Bearer ${token}`}})
        
        .then(result => {
          result.data.forEach(element => {
            console.log(element.vuelo.origen);

            this.vuelo.IdReserva = element.IdReserva;
            this.vuelo.origen = element.vuelo.origen;
            this.vuelo.destino = element.vuelo.destino;
            this.vuelo.fecha = element.vuelo.fecha;
            this.vuelo.hora = element.vuelo.horaSalida;
            this.vuelo.duracion = element.vuelo.duracion;
           
            this.resultado.nombrePasajero = element.nombrePasajero;
            this.resultado.apellidoPasajero = element.apellidoPasajero;
            this.resultado.tipoDocumento = element.tipoDocumento;
            this.resultado.documento = element.documento;
            this.resultado.asiento = element.asiento;
    
            const copia = Object.assign({},this.resultado);
            this.resultados.push(copia);
          });

            console.log(this.resultados);
            if(this.resultados.length>0){
                this.resultado.searched =true;
            } else{
            this.resultado.searched =false;
            }
            })

        .catch((error) => {
          if (error.response == "401")
            alert("ERROR 401: algo pasó.");
        });
    },

    verifyToken: function () {
        return axios.post("https://mintic-c3p37g1-bank-be.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        .then((result) => {
            localStorage.setItem("token_access", result.data.access);		
        })
        .catch(() => {
            this.$emit('logOut');
        });
        }
  }
}

</script>


<style scoped>
  
  [v-cloak] {
    display: none;
  }

  .booking_search {
    margin: 0;
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_Booking_search {
    border: 3px solid #0B4B88;
    border-radius: 10px;
    width: 60%;
    height: 28%;
    background-color: #cfcecc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .booking_search h1 {
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .booking_search h2 {
    width: 21%;
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .booking_search form {
    width: 70%;
  }

  .booking_search input {
    height: 40px;
    width: 100%;
    font-family: calibri;
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    margin: 5px 5px;
    border: 1px solid #0B4B88;
    flex-direction: row;
  }

  .booking_search button {
    width: 100%;
    height: 40px;

    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
    background-color: #0B4B88;
    border: 1px solid #0B4B88;
    font-family: calibri;
    font-weight: bold;

    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0;
  }

  .booking_search button:hover {
    background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
    background-color: #ffffff;
    border: 1px solid #0B4B88;
  }
  .container_Information_flight {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: above;
    align-items: left;
  }

  .container_Information_booking {
    border: 2px solid #0B4B88;
    border-radius: 10px;
    padding: 0 5px 0 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .booking_search h5{
    color: #0B4B88;
    font-family: calibri;
    white-space: nowrap;
    width: 100%;
  }

  .booking_search span{
    color: #292928;
  }

  form{
    display: flex;
  }

.contenedorResultados{
    display: flex !important;
    flex-direction: row;
  }

  .contenedorResultados .container_Information_booking{
    margin-left: 10px ;
    padding: 10px;
  }

  .contenedorResultados h5{
    margin : 0 auto;
    margin-top: 15px;
  }
</style>