<template>

  <div class="search_flight">
    <div class="container_Search_flight">
      <h1>Buscar Vuelos</h1>

      <form v-on:submit.prevent="processFlightResults">
        <input type="text" v-model="vuelos.origen" placeholder="Origen">
       
        <input type="text" v-model="vuelos.destino" placeholder="Destino">
        
        <input type="date" v-model="vuelos.fecha" placeholder="Fecha">
        
        <button type="submit"> Buscar </button>
      </form>

    </div>
    <br>
    <h2 v-if="resultado.searched">Resultados de la Búsqueda</h2>
  <div class="contenedorResultados">
    <div v-for="item in resultados" :key="item.id_vuelo">
      <div class="container_Information_flight">
        <h5>Origen: <span>{{item.origen}}</span></h5>
        <h5>Destino: <span>{{item.destino}} </span></h5>
        <h5>Fecha: <span>{{item.fecha}}</span></h5>
        <h5>Hora: <span>{{item.hora_salida}}</span></h5>
        <h5>Duración: <span>{{item.duracion}}</span></h5>
        <h5>Disponibilidad: <span>{{item.disp_sillas}}</span></h5>
      </div>
    </div>
  </div>
    
  
  </div>

</template>


<script>

import axios from "axios";

export default {
  name: "Search",

  data: function(){
    return {
      vuelos : {
        origen:"",
        destino:"",
        fecha:""
      },

      resultados:[
      ],

      resultado: {
        id_vuelo:"",
        origen:"",
        destino:"",
        fecha:"",
        hora_salida:"",
        duracion:"",
        disp_sillas:"",

        searched: false
      }
    }
  },

  methods: {
    processFlightResults: function(){
      // Se asignan los mismo valores en mayusculas
      this.vuelos.origen = this.vuelos.origen.toUpperCase();
      this.vuelos.destino = this.vuelos.destino.toUpperCase();

      let api_url = "https://mintic-c3p37g1-bank-be.herokuapp.com/search/?";
      if (this.vuelos.origen!==""){
        api_url = api_url + "origen=" + this.vuelos.origen + "&";
      };
      if (this.vuelos.destino!==""){
        api_url = api_url + "destino=" + this.vuelos.destino + "&";
      };
      if (this.vuelos.fecha!==""){
        api_url = api_url + "fecha=" + this.vuelos.fecha + "&";
      };
      if (this.vuelos.origen==""&&this.vuelos.destino==""&&this.vuelos.fecha==""){
        api_url = "https://mintic-c3p37g1-bank-be.herokuapp.com/search/?origen=NOEXISTE"
        alert("Campos vacios");
      };
      
      this.resultados = [];

      axios.get(api_url)
    
        .then(result => {
          result.data.forEach(element => {
            console.log(element.origen);

            this.resultado.id_vuelo = element.id_vuelo;
            this.resultado.origen = element.origen;
            this.resultado.destino = element.destino;
            this.resultado.fecha = element.fecha;
            this.resultado.hora_salida = element.hora_salida;
            this.resultado.duracion = element.duracion;
            this.resultado.disp_sillas = element.disp_sillas;

            const copia = Object.assign({},this.resultado);
            this.resultados.push(copia);
          });

            console.log(this.resultados);
            if(this.resultados.length>0){
                this.resultado.searched =true;
            } else{
            this.resultado.searched =false;
            }
            
            //this.$emit("completedSearch");
            })
        /*
        .then((result) =>{
          console.log(result.data);

        })*/
        .catch((error) => {
          if (error.response == "401")
            alert("ERROR 401: No hay vuelos disponibles.");
        });
    }
  }
}

</script>


<style scoped>
  
  [v-cloak] {
    display: none;
  }
  .search_flight {
    margin: 0;
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_Search_flight {
    border: 3px solid #0B4B88;
    border-radius: 10px;
    width: 60%;
    height: 28%;
    background-color: #cfcecc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .search_flight h1 {
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .search_flight h2 {
    width: 21%;
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .search_flight form {
    width: 70%;
  }
  .search_flight input {
    height: 40px;
    width: 100%;
    font-family: calibri;
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    margin: 5px 5px;
    border: 1px solid #0B4B88;
    flex-direction: row;
  }
  .search_flight button {
    width: 100%;
    height: 40px;

    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
    background-color: #0B4B88;
    border: 1px solid #0B4B88;
    font-family: calibri;
    font-weight: bold;

    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0;
  }
  .search_flight button:hover {
    background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
    background-color: #ffffff;
    border: 1px solid #0B4B88;
  }
  .container_Information_flight {
    border: 2px solid #0B4B88;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 0px 10px 0px 10px;
    height:  100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: left;
  }
  .search_flight h5 {
    color: #0B4B88;
    font-family: calibri;
    white-space: nowrap;
    width: 100%;
  }
  .search_flight span{
    color: #292928;
  }
  form{
    display: flex;
  }

  .contenedorResultados{
    display: flex !important;
    flex-direction: row;
  }

  .container_Information_flight h5{
    margin : 0 auto;
    margin-top: 15px;
  }

</style>